@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Chivo', sans-serif;
font-family: 'Playfair Display', serif;
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (max-width: 1023px) {
/*
=====================================Clases generales=========================================
*/

.data-mobile{
    display: inline-block;
}

.data-desktop{
    display: none;
}


.button{
    background-color: #B1C211;
    font-family: 'Chivo', sans-serif;
    border-radius: 11px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 2.5rem 6rem;
    font-size: 20px;
    cursor:pointer;
    }

    .button__form{

        padding-left: 12rem;
        padding-right: 12rem;
        margin-top: 8vh;
       /*margin-bottom: 8vh;
        margin-top: 14vh;*/
        cursor:pointer;
    }
    
    .double-line-container__title{
    
        border: 8px solid #D8615A;
        border-style: double;
        font-size: 4rem;
        padding: 4rem 2rem;
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 5vh;
        text-align: center;
    
    }
    
    
    .double-line-container__content{
         /*Permite que le pueda dar alto y ancho al contenedor*/
         display: inline-block;
         height: 690px;
         width: 100%;
     
         /*En este caso el flex permite centrar el contenido del contenedor*/
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     
     
         /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
         background: url("../data/double-line-container.png") no-repeat center ;
         background-size: 85%;

        
     
    }
    
    .double-line-container__content__row{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5rem;
    
    }

    .greenContainer{
         /* -- borde -- */
   width: 80%;
   height: 75%;
   display: inline-block;
   border: #B1C211 solid 5px;

    /* -- contenido -- */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    }

    

   
    
    

/*
=====================================Etiquetas=========================================
*/

html  {
    font-size: 5px;
    font-family: 'Chivo', sans-serif;

}

/*---------------------------------------HEADER-------------------------------------------*/



header  div:first-child {
background-color: #BE8253;
font-size: 3rem;
padding-top:  1.5rem;
padding-bottom: 1.5rem;
text-align: center;
color: #ffffff;
font-weight: normal;
}

header  div:last-child {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 2rem 3rem;
box-shadow: 0 3px 5px 0px rgba(0,0,0,0.6);
}

header div h2{

    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-weight: 800;
    }

    header {
   
        background-color: #ffffff;
        position: sticky; /* Set the navbar to fixed position */
        z-index: 1; /* Set z-index to 1 so it does not hide content */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        
        }

/*------------------------------------BANNER-------------------------------------------*/

.banner{
    /*Permite que le pueda dar alto y ancho al contenedor*/
    display: inline-block;
    height: calc(100vh - 100px);
    width: 100%;

    /*En este caso el flex permite centrar el contenido del contenedor*/
    display: flex;
    align-items: center;
    justify-content: center;


    /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
    background: url("../data/BackgroundFormMobile-1.png") no-repeat center ;
    background-size: cover;
    
}


.banner div h3{
    font-size: 5rem;
    font-weight: 400;
    
}

.banner div h4{
    font-size: 5rem;
    font-family:  'Playfair Display', serif; 
    font-weight: 800;
    margin-bottom: 5vh;
    
}

.banner div p{
    font-size: 3rem;
    width: 100%;
    
    
}

.banner div b{
    font-size: 3rem;
    font-weight: 800;
    
}

.banner .greenContainer .banner__pimienta-flex {
  margin: 0px;
  padding: 0px;

}

.banner .greenContainer .banner__pimienta-flex div{
    /*padding provisional hasta que entienda por qué se le agregar un anchode la ada al contenedor de pimienta*/
    padding-left: 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
}




/*------------------------------------INTRO-------------------------------------------*/

.intro {
    display: flex;
    flex-direction: column;

      /*Permite que le pueda dar alto y ancho al contenedor*/
      display: inline-block;
      height: 705px;
      width: 100%;
  
      /*En este caso el flex permite centrar el contenido del contenedor*/
      display: flex;
      align-items: center;
      justify-content: top;
  
  
      /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
      background: url("../data/BolsaPapelConSombra.png") no-repeat center ;
      background-size: cover;

      /* -- arreglo temporal para superponer la bolsa con el form-- */

      margin-top: -40px;
      padding-top: 12rem;
      
}


.intro div{
   width:75%;
   color: #ffffff;
  
  
}

.intro  div h1{

font-size: 6rem;
font-family: 'Playfair Display', serif;  
font-weight: 800;
margin-top: 6vh;
margin-bottom:1vh;


}

.intro  div h2{

    font-size: 3rem;
    font-weight: 300;
    
    
    }

.intro  div p{

    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.intro__mobile__container{

  display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.intro div button{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #ffffff;
    cursor:pointer;
    overflow: hidden;
    border-radius: 11px; 
    width: 85rem;
    margin-right: -12rem;
    margin-left: 2rem;
    color: #ffffff;
    cursor:pointer;
}

.intro div img{
    border: 2px solid #ffffff;
    border-radius: 11px;  
    padding: 2rem;

}

/*------------------------------------NUTRICIONAL-------------------------------------------*/



.nutricional{
  
    margin-top: 5vh;
    display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
  
      /* --  Por qué el text align center también me centra la imagen?
      
      text-align: center;
      -- */
    
    
  
  }
  
    
  .nutricional img:last-child {
  
      /*ajusta el ancho de la imagen al contenedor*/
      width: 100%;
      height: auto;
      object-fit: contain;
      
  } 
  


/*-------------------------INTRO P Y P-------------------------------------------*/


.intro-pyp{
display: flex;
flex-direction: column;
margin-top: 20rem;
align-items: center;
justify-content:space-between;
}


.intro-pyp .double-line-container {
    margin-top: 15rem;
    width: 65%;
   }


.intro-pyp p{
    font-size: 3rem;
    line-height: 150%;
    text-align: center;
    
   }



   /*-------------------------P Y P-------------------------------------------*/

.pyp img{
    margin-left: 3rem;
    margin-top: 3rem;
}
.pyp p{
    font-size: 3rem;
}

.pyp h3{
    font-size: 6rem;
    padding-bottom: 4rem;
   }

   .pyp .double-line-container__content .double-line-container__content__row h3{
    
    
    margin-left: 4rem;
    margin-top: 4vh;
   }

   .pyp .double-line-container__content  h3{
    
    
    margin-left: 4rem;
    margin-top: 4vh;
    margin-left: 32rem;
   }



   


.double-line-container__content div {

    margin-left: -4rem;
} 

.double-line-container__content div:nth-child(2) p{
   margin-left: 5rem;
}

.double-line-container__content p{

    margin-left: -8rem;
}

.double-line-container__content div:last-child {
   
    margin-top: 3rem;
   }

.double-line-container__content div:last-child p{
 font-size: 2rem;
 margin-bottom: 3rem;
 margin-left: 4rem;
 margin-top: 3rem;
 
}

 /*-------------------------INSPIRACIÓN-------------------------------------------*/

.insp{

/*Permite que le pueda dar alto y ancho al contenedor*/
display: inline-block;
height: 1266px;
width: 100%;

/*En este caso el flex permite centrar el contenido del contenedor*/
display: flex;
flex-direction: column;
/*align-items: center;
justify-content: top;*/



/*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
background: url("../data/motivacionBackgroundMobile.png") no-repeat center ;
background-size: cover;

}

.insp div:first-child{
    font-size: 5rem;
    text-align: right;
    margin-top: 30rem;
    margin-right: 8rem;
    margin-bottom: 5rem;
}

.insp div img{
    margin-right: 10rem;

}

.insp div h4{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;

}

.insp .container {
	display: flex;
	padding: 0 2rem;
	overflow-x: auto;
	margin-left: 5rem;
	scroll-snap-type: both mandatory;
}

.insp .container .card {
	position: relative;
	height: 450px;
	margin-top: 1rem;
    margin-right: 1rem;
    
	
	background-size: cover;
	border-radius: 8px;
	
	scroll-snap-align: start;
	scroll-margin: 2rem;
	transition: all .4s ease-in-out;
	
	
	
}

.insp  .container .card :hover {
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .2), inset 0 0 1px white;
}
.insp .container .card a {
    text-decoration: none;
    color: black;
}

.insp .container .card .thumb {
    width: 80vw;
    max-width: 480px;
    height: 120px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
   
}

.insp .container .card .thumb img {
    width: 100%;
}

.insp .container .card .copy {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 0 0 8px 8px;
   
    
   
}

.insp .container .card .copy .label {
    font-size: .8rem;
    letter-spacing: .1rem;
    color: lightgray;
    background-color: black;
    display: inline;
    padding: 2px 8px;
    border-radius: 4px;
}

.insp .container .card .copy .title {
    font-family: Times New Roman, serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

.insp .container .card .copy  .text {
    font-size: 1rem;
}

 /*-------------------------FORM-------------------------------------------*/

 .form{
     

     /*Permite que le pueda dar alto y ancho al contenedor*/
display: inline-block;
height: 1056px;
width: 100%;

/*En este caso el flex permite centrar el contenido del contenedor*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: top;



/*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
background: url("../data/BackgroundFormMobile-2.png") no-repeat center ;

 /* -- arreglo temporal para superponer la bolsa con el form-- */
 margin-top: -30vh;



 }

 .form .greenContainer{

  
  margin-top: 35vh;
  height: 65%;
  font-size: 15px;

 }

 .form .greenContainer {
    
   display: flex;
   
   flex-direction: column;
   
      width: 80%;
   margin-top: 20vh;
  

 }

 .form .greenContainer h2{
     margin-top:3vh ;
    font-size: 5.5rem;
    margin-bottom: 3vh;
    }
      

  .form .greenContainer  p {
    margin-bottom: 3vh;
    }

    input, textarea{
        border: 0;
        outline: none;
        text-align: left;
        padding-left: 2rem;

    }

    .field{

        display: inline-block;
        border: #B1C211 solid 3px;
        width: 70%;
        height: 4.5vh;
        margin-bottom: 2vh;
    }

    

    
    .form .greenContainer  .button{

        margin-top: 8vh;
        margin-bottom: 8vh;
        

        
    }

   

/*-------------------------FOOTER-------------------------------------------*/

footer{

      /*Permite que le pueda dar alto y ancho al contenedor*/
display: inline-block;
height: 344px;
width: 100%;

/*En este caso el flex permite centrar el contenido del contenedor*/
display: flex;
flex-direction: column;
align-items: top;
justify-content: center;




/*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
background: url("../data/footerMobile.png") no-repeat center ;

 /* -- arreglo temporal para superponer la bolsa con el form-- */
 margin-top: -5vh;


}

footer section{
width: 100%;
height: 344px;
display: flex;
flex-direction: column;
justify-content: space-evenly;


}



footer section h4{
    
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bolder;
    margin-left: 10rem;

}

footer  section div h5{

    font-family: 'Chivo', sans-serif;
    font-size: 3rem;
    margin-left: 10rem;
}

footer section div div{
    width: 45%;
       margin-left: 10rem;
       margin-top: 2rem;
      display: flex;
       justify-content: space-between;
}
}

/*--------------------------------desktop------------------------*/

@media (min-width: 1024px) {

/*
=====================================Clases generales DESKTOP =========================================
*/
.data-mobile{
    display: none;
}

.data-desktop{
    display: inline-block;
}


.button{
    background-color: #B1C211;
    font-family: 'Chivo', sans-serif;
    border-radius: 11px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 2rem 5rem;
    font-size: 3rem;
    cursor:pointer;
    }

    .button__form{

        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 8vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
       /* margin-bottom: 8vh;
        margin-top: 14vh;*/
        cursor:pointer;
    }

    .greenContainer{
        /* -- borde -- */
  width: 80%;
  height: 70%;
  display: inline-block;
  border: #B1C211 solid 5px;

   /* -- contenido -- */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

   }

   .banner__pimienta-flex{
       display: flex;
       flex-direction: row;
         align-items: center;
   }

   .double-line-container__title{
    
    border: 8px solid #D8615A;
    border-style: double;
    font-size: 4rem;
    padding: 6rem 2rem;
    width: 25%;
    text-align: center;

   

}

 
.double-line-container__content{
    /*Permite que le pueda dar alto y ancho al contenedor*/
    display: inline-block;
   width: 358px;
   height: 535px;
    

    /*En este caso el flex permite centrar el contenido del contenedor*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
    background: url("../data/double-line-container-desktop.png") no-repeat center ;
    background-size: 90%;
   

   

}

.double-line-container__content__row{

   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 5rem;

}



/*
=============================Etiquetas DESKTOP=================================
*/

html  {
    font-size: 5px;
    font-family: 'Chivo', sans-serif;

}

/*--------------HEADER DESKTOP------------------------------------*/



header  div:first-child {
background-color: #BE8253;
font-size: 2rem;
padding-top:  1.5rem;
padding-bottom: 1.5rem;
text-align: center;
color: #ffffff;
font-weight: normal;
}

header  div:last-child {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 3rem 4rem;
box-shadow: 0 3px 5px 0px rgba(0,0,0,0.6);
}

header div h2{

    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-weight: 800;
    }

    header {
   
        background-color: #ffffff;
        position: sticky; /* Set the navbar to fixed position */
        z-index: 1; /* Set z-index to 1 so it does not hide content */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        
        }




/*--------------BANNER DESKTOP----------------------*/

.banner{
    /*Permite que le pueda dar alto y ancho al contenedor*/
    display: inline-block;
    height: calc(100vh - 100px);
    width: 100%;

    /*En este caso el flex permite centrar el contenido del contenedor*/
    display: flex;
    align-items: center;
    justify-content: center;


    /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
    background: url("../data/BackgroundFormdesktop-1.png") no-repeat center ;
    background-size: cover;
    
}


.banner div h3{
    font-size: 5rem;
    font-weight: 400;
    
}

.banner div h4{
    font-size: 5rem;
    font-family:  'Playfair Display', serif; 
    font-weight: 800;
    margin-bottom: 5vh;
    
}

.banner div p{
    font-size: 3rem;
    width: 90%;
    
    
}

.banner div b{
    font-size: 3rem;
    font-weight: 800;
    
}

.banner .greenContainer{
padding-top: 5rem;
padding-bottom: 5rem;
}



.banner .greenContainer .banner__pimienta-flex  img{
    width: 30%;
    height: auto;
    
}
.banner .greenContainer .banner__pimienta-flex div{
    text-align: left;
    line-height: 20px;
    margin-right: 5rem;
    
}

.banner .greenContainer .banner__pimienta-flex div p{
   width: 100%;
      
}
/*--------INTRO DESKTOP-------------------------------*/

.intro {
    display: flex;
    flex-direction: column;

      /*Permite que le pueda dar alto y ancho al contenedor*/
      display: inline-block;
      height: 705px;
      width: 100%;
  
      /*En este caso el flex permite centrar el contenido del contenedor*/
      display: flex;
      align-items: center;
        justify-content: center;
  
  
      /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
      background: url("../data/BolsaPapelRasgadoConSombra.png") no-repeat center ;
      background-size: contain;

      /* -- arreglo temporal para superponer la bolsa con el form-- */

      margin-top: -188px;
      padding-top: 12rem;
      
}


.intro .data-desktop{
    width: 80%;
    height: auto;
    display: flex;
   padding-bottom: 13vh;
}



.intro div{
   width:75%;
   color: #ffffff;
   
  
}

.intro  .data-desktop div:first-child{
    line-height: 30px;
}

.intro  .data-desktop div:last-child   h1{

font-size: 6rem;
font-family: 'Playfair Display', serif;  
font-weight: bolder;
margin-top: 6vh;
margin-bottom:1vh;


}

.intro  .data-desktop div:last-child{
height: 80%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-between;


}

.intro  .data-desktop div:first-child h2{

    font-size: 3rem;
    font-weight: bold;
    
    
    }

.intro  .data-desktop div:first-child p{

    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: 200;


}



.intro .data-desktop div:last-child button{
     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #ffffff;
    cursor:pointer;
    overflow: hidden;
    border-radius: 11px; 
    width: 40%;
    height: 20%;
    display: inline-block;
    color: #ffffff;


    /* -- arreglo temporal hasta entender por qué no puedo centrarlo en el eje X al botón-- */
   margin-left: 30rem;
}

/*--------------------------NUTRICIONAL DESKTOP-------------------------------------------*/

 
    
  .nutricional .data-desktop{
  
      /*ajusta el ancho de la imagen al contenedor*/
      width:100%;
      height: auto;
      object-fit: contain;
      
  } 


  

  .double-line-container__title{
        /* -- arreglo temporal por superponer el div a la imagen de abajo */
        margin-bottom: -60rem;
         margin-left: 40rem;
        
  }
  
  
/*-------------------------INTRO P Y P DESKTOP -------------------------------------------*/


.intro-pyp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8rem;

}


.intro-pyp div:last-child{
  display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-align: center;
    }





    .intro-pyp div:last-child div:nth-child(2){

        /*tuve que ponerlelos estilos llamando a la etiqueta contenedora y no poniendole la clase double-line-container__title porque invertía el orden de los divs como un column reverse*/
        border: 8px solid #E57C54;
        font-size: 4rem;
        border-style: double;
        padding: 6rem 8rem;

    }

        .intro-pyp div:last-child p{

                margin-top: 4vh;
                font-size: 3rem;
                line-height: 150%;
                text-align: center;
                font-weight: 400;
                
              


        }
        

 /*----------P Y P DESKTOP-----------------------------------*/

 
 .pyp{
     margin-top: 30vh;
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-evenly;
 }
 
 
 .pyp img{
    margin-left: 3rem;
    margin-top: 3rem;
}
.pyp p{
    font-size: 3rem;
}

.pyp h3{
    font-size: 6rem;
   
   }

   .pyp .double-line-container__content .double-line-container__content__row h3{
    
    
    margin-left: 4rem;
    margin-top: 4vh;
   }

   .pyp .double-line-container__content  h3{
    
    
    margin-left: 4rem;
    margin-top: 4vh;
    margin-left: 32rem;
   }



   


.double-line-container__content div {

    margin-left: -4rem;
} 

.double-line-container__content div:nth-child(2) p{
   margin-left: 5rem;
}

.double-line-container__content p{

    margin-left: -8rem;
}

.double-line-container__content div:last-child {
   
    margin-top: 3rem;
   }

.double-line-container__content div:last-child p{
 font-size: 2rem;
 margin-bottom: 3rem;
 margin-left: 4rem;
 margin-top: 3rem;
 
}
    
   /*-------------------------INSPIRACIÓN-------------------------------------------*/

.insp{

    /*Permite que le pueda dar alto y ancho al contenedor*/
    display: inline-block;
    height: 1266px;
    width: 100%;
    
    /*En este caso el flex permite centrar el contenido del contenedor*/
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: top;*/
    
    
    
    /*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
    background: url("../data/motivacionBackgroundDesktop.png") no-repeat center ;
    background-size: cover;
    
    }
    
    .insp div:first-child{
        font-size: 5rem;
        text-align: right;
        margin-top: 30rem;
        margin-right: 8rem;
        margin-bottom: 5rem;
    }

    
    .insp .data-desktop{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 14vh;
    }

    .insp .data-desktop div:last-child{
        font-size: 4.5rem;
        display: flex;
        margin-top: 8vh;
        margin-right: 110rem;
        justify-self: center;
       
    }

    .insp .data-desktop img{
        width: 40%;
        height: auto;
      }

    .insp .data-desktop div:last-child h3{
      padding-top: 0.23rem;
      font-weight: 600;
    }


    .insp .data-desktop div:last-child h4{
       
        display: flex;
       
        margin-left:2rem;

       
    }

    
    .insp div img{
        margin-right: 10rem;
    
    }
    
    .insp div h4{
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
    
    }
    
    .insp .container {
        display: flex;
        padding: 0 2rem;
        overflow-x: auto;
        margin-left: 5rem;
        scroll-snap-type: both mandatory;
        margin-top: 4vh;
    }
    
    .insp .container .card {
        position: relative;
        height: 450px;
        margin-top: 1rem;
        margin-right: 1rem;
        
        
        background-size: cover;
        border-radius: 8px;
        
        scroll-snap-align: start;
        scroll-margin: 2rem;
        transition: all .4s ease-in-out;
        
        
        
    }
    
    .insp  .container .card :hover {
        box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .2), inset 0 0 1px white;
    }
    .insp .container .card a {
        text-decoration: none;
        color: black;
    }
    
    .insp .container .card .thumb {
        width: 80vw;
        max-width: 480px;
        height: 120px;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
       
    }
    
    .insp .container .card .thumb img {
        width: 100%;
    }
    
    .insp .container .card .copy {
        position: absolute;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: rgba(255, 255, 255, .9);
        border-radius: 0 0 8px 8px;
       
        
       
    }
    
    .insp .container .card .copy .label {
        font-size: .8rem;
        letter-spacing: .1rem;
        color: lightgray;
        background-color: black;
        display: inline;
        padding: 2px 8px;
        border-radius: 4px;
    }
    
    .insp .container .card .copy .title {
        font-family: Times New Roman, serif;
        font-weight: lighter;
        font-size: 1.2rem;
    }
    
    .insp .container .card .copy  .text {
        font-size: 1rem;
    }
    
     /*-------FORM DESKTOP------------------------------------*/

 .form{
     

    /*Permite que le pueda dar alto y ancho al contenedor*/
display: inline-block;
height: 1429px;
width: 100%;

/*En este caso el flex permite centrar el contenido del contenedor*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: top;



/*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
background: url("../data/BackgroundFormDesktop-2.png") no-repeat center ;

/* -- arreglo temporal para superponer la bolsa con el form-- */
margin-top: -60vh;



}


.form .greenContainer {
   
  display: flex;
  font-size: 15px;
  flex-direction: column;
  height: 32%;
  width: 60%;
  margin-top: 70vh;
 

}

.form .greenContainer h2{
    margin-top:3vh ;
   font-size: 5.5rem;
   margin-bottom: 3vh;
   }
     

 .form .greenContainer  p {
   margin-bottom: 3vh;
   }

   input, textarea{
       border: 0;
       outline: none;
       text-align: left;
       padding-left: 2rem;
      

   }

   .field{
      text-align: center;
       display: inline-block;
       border: #B1C211 solid 3px;
       width: 48%;
       height: 4.5vh;
       margin-bottom: 2vh;
   }

   

   
   .form .greenContainer  .button{

       margin-top: 8vh;
      /* margin-bottom: 8vh;*/
       

       
   }

/*-------------------------FOOTER-------------------------------------------*/

footer{

    /*Permite que le pueda dar alto y ancho al contenedor*/
display: inline-block;
height: 294px;
width: 100%;

/*En este caso el flex permite centrar el contenido del contenedor*/
display: flex;
flex-direction: column;
align-items: top;
justify-content: center;




/*se le indica la imagen de fondo y el contain hace que se adapte sin cortarse*/
background: url("../data/footerDesktop.png") no-repeat center ;

/* -- arreglo temporal para superponer la bolsa con el form-- */
margin-top: -50vh;

justify-content: space-evenly;

}

footer section{
    margin-left: 10rem;
}


footer h4{
  
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: bolder;
  margin-left: 10rem;

}

footer div h5{

  font-family: 'Chivo', sans-serif;
  font-size: 3rem;
  margin-left: 10rem;
  margin-left: calc(50% - 7.5rem);
}

footer div{
    margin-top: 5vh;
    margin-left: 40rem;
}

  
footer div div{
  width: 15%;
     margin-left: calc(50% - 7.5rem);
     margin-top: 2rem;
    display: flex;
     justify-content: space-between;
}

footer div div img{
    width: 25%;
    height: auto;
  }



}